body{
  color: white !important;
}
canvas{
  background-color: black;
  position: absolute;
	top: 0;
  z-index: -1;
  width: fit-content;
 
  opacity: .8;
}
.nav-logo{
  width: 75px;
  display:inline-block;
	border-radius:250px;
	margin:10px;
	position: relative;
  cursor:pointer;
}
span.menu-btn{
 color: white !important;
}
.notextdec{
  text-decoration: none !important;
  color: white !important;
}
.aboutme{
  margin: 100px;
}
h1.aboutmeH1{
  margin: 25px;
}
.row{
  padding: 20px;
  justify-content: space-around;
}
.gradient {
	border-top: 5px solid rgb(158, 242, 248)k;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(158, 242, 248)), to(transparent));
	background-image: -webkit-linear-gradient(rgb(158, 242, 248), transparent);
	background-image:
		-moz-linear-gradient(rgb(158, 242, 248), transparent),
		-moz-linear-gradient(rgb(158, 242, 248), transparent);
	background-image:
		-o-linear-gradient(rgb(158, 242, 248), transparent),
		-o-linear-gradient(rgb(158, 242, 248), transparent);
	background-image: 
		linear-gradient(rgb(158, 242, 248), transparent),
		linear-gradient(rgb(158, 242, 248), transparent);
	-moz-background-size: 3px 100%;
	background-size: 2px 100%;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat; 
  }

  .mcimg{
    justify-content: center;
    display: inline-block;
    margin: 75px;
    width: 500px;
    
  }

.col{
  
}

.img-fluid{
  margin: 25px;
  border-radius: 100px;
  width: 225px;
  
}

.box {
  transition: all 500ms ease;
  flex: 1;
  margin: 20px;
  justify-content: center;
}

.row-start {
  clear: left;
}

.box.active {
  border-radius: 0px;
  flex: 5;
}
.active.img-fluid{
border-radius: 0px;
width: 500px;
}

.box.shrink {
  width: 400px;
}
#colorchange{
  color: black !important;
}
.btn{
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(158, 242, 248)), to(transparent));
  background-image: -webkit-linear-gradient(rgb(158, 242, 248), transparent);
  
}